$font-family-primary: 'Montserrat-Light', sans-serif;
$font-family-secondary: 'Montserrat-Bold', sans-serif;
$font-family-main-sans: 'Microsoft Sans Serif', sans-serif;

$white-color: #FFFFFF;
$red-255: #FF0000;
$green-40: #a2c428;
$green-161: #A1C423;
$green-98: #66b862;
$green-70: #3c8946;
$green-89: #3C8959;
$green-0: #008a3f;
$green-53: #358640;
$green-71: #476A00;
$brown-125: #7D4426;
$gray-244: #f4f4f4;
$gray-229: #e5e5e5;
$gray-125: #7d7d7d;
$orange-237: #ED8427;
$purple-118: #760dbf;
$blue-101: #65abc5;
$black-15: #0f0f0f;
$black-75: #4b4b4b;
$black-color: #000;

$xss-screen: 320px;
$xs-screen: 375px;
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;

$font-size-xxs: 12px;
$font-size-xs: 15px;
$font-size-sm: 16px;
$font-size-md: 17px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 22px;